/*#region Import */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@font-face {
    font-family: 'MaisonNeue Black';
    src: url(Assets/fonts/maison-neue/MaisonNeueBlack.otf) format('opentype');
}
@font-face {
    font-family: 'MaisonNeue Medium';
    src: url(Assets/fonts/maison-neue/MaisonNeueExtendedMedium.otf) format('opentype'); 
}
@font-face {
    font-family: 'MaisonNeue Demibold';
    src: url(Assets/fonts/maison-neue/MaisonNeueExtendedDemi.otf) format('opentype'); 
}
@font-face {
    font-family: 'MaisonNeue Bold';
    src: url(Assets/fonts/maison-neue/MaisonNeueExtendedBold.otf) format('opentype'); 
}
@font-face {
    font-family: 'MaisonNeue Regular';
    src: url(Assets/fonts/maison-neue/MaisonNeueBook.otf) format('opentype'); 
}
@font-face {
    font-family: 'MonaSans Bold';
    src: url(Assets/fonts/monasans/mona/OTF/MonaSans-Bold.otf) format('opentype'); 
}
@font-face {
    font-family: 'MonaSans Regular';
    src: url(Assets/fonts/monasans/mona/OTF/MonaSans-Regular.otf) format('opentype'); 
}
@font-face {
    font-family: 'MonaSans Black';
    src: url(Assets/fonts/monasans/mona/OTF/MonaSans-Black.otf) format('opentype'); 
}
@font-face {
    font-family: 'MonaSans Medium';
    src: url(Assets/fonts/monasans/mona/OTF/MonaSans-Medium.otf) format('opentype'); 
}
/*#endregion Import */


:root {
    /*Fonts*/
    --ff-roboto: 'Roboto', sans-serif;
    --ff-maison_demi: 'MaisonNeue Demibold', sans-serif;
    --ff-maison_med: 'MaisonNeue Medium', sans-serif;
    --ff-maison_black: 'MaisonNeue Black', sans-serif;
    --ff-maison_bold: 'MaisonNeue Bold', sans-serif;
    --ff-maison_regular: 'MaisonNeue Regular', sans-serif;
    --ff-mona_med: 'MonaSans Medium', sans-serif;
    --ff-mona_black: 'MonaSans Black', sans-serif;
    --ff-mona_regular: 'MonaSans Regular', sans-serif;
    --ff-mona_bold: 'MonaSans Bold', sans-serif;

    /*Main Background*/
    --clr-main-accent: #231f20;

    /* Gradient */
    --clr-gr-1: #dbdae1;
    --clr-gr-2: #a3aaba;

    --clr-percent-bg: #555;


    /*#region Design Colors*/
        --clr-highlight: #007bff;  
        --clr-highlight-2: #0056b3;  
        --clr-highlight-3: #6f42c1; 
        --clr-highlight-4: #00c49a;
        --clr-highlight-5: #004080; 

    /*#endregion Design Colors*/
    
    /*#region Font Color Palette */
    --clr-primary: #fff;
    --clr-secondary: #F0F0F0;
    --clr-accent: #333333;
    --clr-text: #000000;
    /*#endregion Font Color Palette */


/*#endregion Variables */
}

/*#region Prerequisites */
html {
    scroll-behavior: smooth;
}
/*#endregion Prerequisites */


/*#region Header */
.header_cont {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1100;
}

.header_content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 240px;
}

#logo_img {
    width: 90px;
    height: 90px;
    cursor: pointer;
}

.infScroll_cont {
    width: 240px;
    height: 45px;
    overflow: hidden;
    background-color: var(--clr-primary);
    opacity: 85%;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.infScroll_text {
    font-family: var(--ff-maison_med);
    color: var(--clr-main-accent);
    display: inline-block;
    white-space: nowrap;
    animation: scroll 5s linear infinite;
}

@keyframes scroll {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}
/*#endregion Header */

/*#region Nav Menu */
.menu {
    position: fixed;
    top: 35px;
    left: -100%;
    transform: translateX(100%);
    width: 400px;
    height: fit-content;
    color: white;
    transition: left 0.9s ease-in-out;
    
    ul {
        list-style: none;
        padding: 0;
        display: flex;
        flex-direction: row;
        gap: 40px;
        justify-content: center;

        .link_btns {
            margin: 20px 0;
            font-size: 18px;
            font-family: var(--ff-maison_bold);
            cursor: pointer;
            color: var(--clr-primary);
            text-transform: uppercase;

            &:hover {
                text-decoration: line-through;
            }
        }
    }
    
    &.open {
        left: 0; 
    }
}
/*#endregion Nav Menu */


/*#region Header Mobile Friendly */

/*#endregion Header Mobile Friendly */




/*#region Home */
.home_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    gap: 40px;
}

#logo_txt {
    text-align: center;
    font-size: 200px;
    font-family: var(--ff-maison_black);
    font-weight: 800;
    letter-spacing: 5px;
    margin: 0;
}

#logo_quote {
    text-align: center;
    font-size: 30px;
    font-family: var(--ff-maison_med);
    font-weight: 700;
    margin: 0;
}
/*#endregion Home */



























/*#region About */
.about_quote {
    font-family: var(--ff-maison_black);
}

.span_words {
    font-size: 6rem;
    font-family: var(--ff-maison_black);
}

.para_1 {
    font-size: 6rem;
    text-align: center;
    text-transform: uppercase;
    font-weight: 900;
    opacity: 90%;
    margin: 20rem;
}

.para_lone {
    font-size: 6rem;
    text-align: center;
    text-transform: uppercase;
    font-weight: 900;
    opacity: 90%;
    margin: 20rem;
}

.para_2 {
    font-size: 6rem;
    text-align: center;
    text-transform: uppercase;
    font-weight: 900;
    opacity: 90%;
    margin: 20rem;
}
.para_3 {
    font-size: 6rem;
    text-align: center;
    text-transform: uppercase;
    font-weight: 900;
    opacity: 90%;
    margin: 20rem;
}
.para_4 {
    font-size: 6rem;
    text-align: center;
    text-transform: uppercase;
    font-weight: 900;
    opacity: 90%;
    margin: 20rem;
}

.scroll-section {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-container {
    font-family: var(--ff-maison_bold);
    font-size: 1.5rem;
    text-transform: uppercase;
    overflow: hidden;
    border-right: 1px solid var(--clr-text);
    width: 0; 
    opacity: 0;
}

.typing-animation {
    width: 100%; 
    opacity: 1;
    animation: typing 4s steps(40, end) forwards, blink-caret 0.75s step-end infinite;
}

@keyframes typing {
    from { width: 0; }
    to { width: 100%; }
}

@keyframes blink-caret {
    from, to { border-color: transparent; }
    50% { border-color: black; }
}

/*#endregion About */

/*#region Experience */
.exp_quote {
    font-family: var(--ff-maison_black);
    font-size: 8rem;
    text-transform: uppercase;
    text-align: center;
    padding-top: 10rem;
    margin-bottom: 5rem;
}

.experience_cont {
    padding: 1rem;
    margin-left: 10rem;
    height: max-content;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    border-left: 2px var(--clr-percent-bg) solid;
}

.exp_labels {
    font-family: var(--ff-maison_black);
    text-transform: uppercase;
    font-size: 60px;
}

.circle_id {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--clr-primary);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    left: -35px;
}
    .icon_id {
        color: var(--clr-text);
    }

.educ_content {
    display: flex;
    align-items: center;
    gap: 1rem;
}

    .educ_det {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    .educ_level {
        font-family: var(--ff-maison_bold);
        font-size: 2rem;
        display: flex;
        align-items: center;
    }
    
    .educ_school {
        font-family: var(--ff-maison_med);
        font-size: 1.4rem;
        display: flex;
        align-items: center;
    }

    .educ_dates {
        font-family: var(--ff-maison_regular);
        font-size: 1.2rem;
        display: flex;
        align-items: center;
        margin-bottom: 40px;
    }

.progress_content {
    display: flex;
    align-items: center;
    gap: 1rem;
}
    .progress_det {
        display: flex;
        flex-direction: column;
        gap: 10px
    }

    .prog_level {
        font-family: var(--ff-maison_bold);
        font-size: 2rem;
        display: flex;
        align-items: center;
    }
    
    .prog_year {
        font-family: var(--ff-maison_med);
        font-size: 1.4rem;
        display: flex;
        align-items: center;
    }

    .prog_skills {
        display: flex;
        flex-direction: column;
        gap: 10px;
        font-family: var(--ff-maison_regular);
        font-size: 1.2rem;
        margin-bottom: 40px;
    }

.hover_image_preview {
    position: fixed;
    top: 100px;
    right: 90px;
    width: 500px; 
    height: 500px; 
}

.preview_image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
    display: block;
}
/*#endregion Experience */

/*#region Portfolio */
.portfolio_quote {
    font-family: var(--ff-maison_black);
    font-size: 8rem;
    text-transform: uppercase;
    text-align: center;
    padding-top: 10rem;
    margin-bottom: 5rem;
}

.portfolio_cont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5rem;
    margin-bottom: 5rem;
}

.projects_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.multimedia_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.projName {
    font-family: var(--ff-maison_demi);
    font-size: 5rem;
    text-transform: uppercase;
    position: relative;
    top: 2rem;
}

.project_info {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 64rem;
    position: relative;
    top: -4rem;

    .startDate {
        font-family: var(--ff-maison_med);
        font-size: 1rem;
        text-transform: uppercase;
        opacity: 60%;
    }


    .projBase {
        font-family: var(--ff-maison_med);
        font-size: 1rem;
        text-transform: uppercase;
        opacity: 60%;
    }

}

.project_slider.landscape {
    border-radius: 10rem;
    width: 600px;
    margin-block: 3rem;
}

.project_slider.portrait {
    border-radius: 10rem;
    width: 300px;
    margin-block: 3rem;
}

.projImage.landscape {
    width: auto;
    height: auto;
    border-radius: 8px;
}

.projImage.portrait {
    width: 50px;
    height: 100px;
    border-radius: 8px;
}

.project_tags {
    display: flex;
    flex-direction: row;
    gap: 8rem;
}

.projTags {
    font-family: var(--ff-maison_med);
    text-transform: uppercase;
    opacity: 70%;
}

.multi_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 7rem;
}

.ig_content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.yt_content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#multi_label {
    font-family: var(--ff-maison_demi);
    font-size: 5rem;
    text-transform: uppercase;
    text-align: center;
}

.multi_content_info {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 64rem;
    position: relative;
    top: -6rem;

    .startDate {
        font-family: var(--ff-maison_med);
        font-size: 1rem;
        text-transform: uppercase;
        opacity: 60%;
    }


    .projBase {
        font-family: var(--ff-maison_med);
        font-size: 1rem;
        text-transform: uppercase;
        opacity: 60%;
    }
}

.multi_slider {
    display: flex;
    width: 450px;
    align-items: center;
    justify-content: center;
}

.multi_embed {
    border-radius: 10px;
    max-width: auto;
    max-height: 600px;
}

.video_frame {
    border-radius: 10px;
    height: 500px;
}
/*#endregion Portfolio */

/*#region Contact */
#contact_quote {
    font-family: var(--ff-maison_black);
    font-size: 5rem;
    text-transform: uppercase;
    padding-top: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#contact_quote span {
    font-family: var(--ff-maison_black);
    font-size: 3rem;
    text-transform: uppercase;
}

.contact_cont {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-block: 5rem
}

.contact_content {
    display: grid;
    grid-template-columns: 1.4fr 1.6fr;
    align-items: center;
    justify-content: center;
    background-color: #292425;
    border-radius: 10px;
    padding-inline: 1.2rem;
    width: 900px;
    height: 450px;
    overflow: hidden; 
}

.contact_content .left {
    overflow: hidden;
}

.contact_content .left img {
    width: 100%;
    height: 750px;
    margin-left: 2rem;
    object-fit: cover;
    object-position: center;
}

.contact_content .right {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    margin-right: 20px;
    width: 100%;
}

.contact_content .right h1 {
    font-family: var(--ff-mona_bold);
    font-size: 38px;
}

.contact_content .right #creator_label {
    font-family: var(--ff-mona_regular);
    font-size: 20px;
    opacity: 70%;
}

.contact_content .right #creator_quote {
    font-family: var(--ff-mona_bold);
    font-size: 35px;
    opacity: 50%;
}

.contact_content .right .letsTalk {
    border: 1px solid var(--clr-highlight-2);
    color: var(--clr-primary);
    font-family: var(--ff-mona_med);
    padding-block: 15px;
    padding-inline: 20px;
    border-radius: 50px;
    font-size: 20px;
}

.contact_content .right .letsTalk:hover {
    background: linear-gradient(90deg, rgba(94,27,137,1) 20%, rgba(44,140,244,1) 80%); 
    opacity: 80%;
}

.contact_content .right .socials {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.contact_content .right .socials .social_icons { 
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    margin-right: 20px;
}

.social_icons .socials_id {
    color: var(--clr-primary);
    opacity: 70%;
    cursor: pointer;
}
/*#endregion Contact */

/*#region Footer */
.foot_cont {
    display: flex;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
}

.foot_content {
    display: flex;
    flex-direction: column;
}

.foot_upper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 31rem;
    border-bottom: 2px solid var(--clr-secondary);
}

.foot_upper img {
    width: 150px;
    height: 150px;
    object-fit: cover;
}

.foot_upper #foot_quote {
    text-align: center;
    font-size: 25px;
    font-family: var(--ff-maison_med);
    font-weight: 700;
    margin-right: 25px;
}


.foot_bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 5rem;
}

.foot_bottom .navi_links {
    display: flex;
    flex-direction: column;
    margin-inline: 30px;
    margin-block: 10px;

    #navi_label {
        font-family: var(--ff-maison_bold);
        font-size: 25px;
    }
    
    #navi_cont {
        margin-block: 15px;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .foot_navi {
        margin: 20px 0;
        font-size: 18px;
        font-family: var(--ff-mona_med);
        cursor: pointer;
        color: var(--clr-primary);
    
        &:hover {
            text-decoration: underline;
            color: var(--clr-highlight);
        }
    }
}

.foot_center {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    
    #foot_logo_txt {
        text-align: center;
        font-size: 110px;
        font-family: var(--ff-maison_black);
        font-weight: 800;
        letter-spacing: 5px;
        margin: 0;
    }

    p {
        font-family: var(--ff-mona_med);
        color: var(--clr-primary);
    }
}



.social_cont {
    display: flex;
    flex-direction: column;
    margin-inline: 30px;
    margin-block: 10px;
    gap: 20px;

    #social_label {
        font-family: var(--ff-maison_bold);
        font-size: 25px;
    }

    .social_icons {
        display: flex;
        gap: 20px;
    }

    .reach #reach_label {
        font-family: var(--ff-maison_bold);
        font-size: 25px;
    }

    .reach .reach_content {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .reach .reach_content p {
        font-family: var(--ff-mona_med);
        color: var(--clr-primary);
    }
}
/*#endregion Footer */