/*#region Import */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@font-face {
    font-family: 'Univers';
    src: url(Assets/fonts/univers/UniversRegular.ttf) format('truetype'),
        url(Assets/fonts/univers/UniversBold.ttf) format('truetype'),
        url(Assets/fonts/univers/UniversCnBold.ttf) format('truetype'),
        url(Assets/fonts/univers/UniversCnRg.ttf) format('truetype'),
        url(Assets/fonts/univers/UniversLight.ttf) format('truetype');
}
@font-face {
    font-family: 'MaisonNeue Black';
    src: url(Assets/fonts/maison-neue/MaisonNeueBlack.otf) format('opentype');
}
@font-face {
    font-family: 'MaisonNeue Medium';
    src: url(Assets/fonts/maison-neue/MaisonNeueExtendedMedium.otf) format('opentype'); 
}
@font-face {
    font-family: 'MaisonNeue Demibold';
    src: url(Assets/fonts/maison-neue/MaisonNeueExtendedDemi.otf) format('opentype'); 
}
@font-face {
    font-family: 'MaisonNeue Bold';
    src: url(Assets/fonts/maison-neue/MaisonNeueExtendedDemi.otf) format('opentype'); 
}
/*#endregion Import */


:root {
    /*Fonts*/
    --ff-roboto: 'Roboto', sans-serif;
    --ff-univers: 'Univers', sans-serif;
    --ff-maison_demi: 'MaisonNeue Demibold', sans-serif;
    --ff-maison_med: 'MaisonNeue Medium', sans-serif;
    --ff-maison_black: 'MaisonNeue Black', sans-serif;
    --ff-maison_bold: 'MaisonNeue Bold', sans-serif;

    /*Main Background*/
    --clr-main-accent: #231f20;

    /* Gradient */
    --clr-gr-1: #dbdae1;
    --clr-gr-2: #a3aaba;

    --clr-percent-bg: #555;


    /*#region Design Colors*/
        --clr-highlight: #007bff;  
        --clr-highlight-2: #0056b3;  
        --clr-highlight-3: #6f42c1; 
        --clr-highlight-4: #00c49a;
        --clr-highlight-5: #004080; 

    /*#endregion Design Colors*/
    
    /*#region Font Color Palette */
    --clr-primary: #fff;
    --clr-secondary: #F0F0F0;
    --clr-accent: #333333;
    --clr-text: #000000;
    /*#endregion Font Color Palette */


/*#endregion Variables */
}

/*region Prerequisites */
html {
    scroll-behavior: smooth;
}
/*endregion Prerequisites */


/*#region Header */
.header_cont {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1100;
}

.header_content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 240px;
}

#logo_img {
    width: 90px;
    height: 90px;
    cursor: pointer;
}

.infScroll_cont {
    width: 240px;
    height: 45px;
    overflow: hidden;
    border: 2px solid var(--clr-main-accent);
    background-color: var(--clr-primary);
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.infScroll_text {
    font-family: var(--ff-maison_med);
    color: var(--clr-main-accent);
    display: inline-block;
    white-space: nowrap;
    animation: scroll 5s linear infinite;
}

@keyframes scroll {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}
/*#endregion Header */

/*#region Nav Menu */
.menu {
    position: fixed;
    top: 15px;
    left: -100%;
    transform: translateX(100%);
    width: 400px;
    height: fit-content;
    color: white;
    transition: left 0.9s ease-in-out;
    
    ul {
        list-style: none;
        padding: 0;
        display: flex;
        flex-direction: row;
        gap: 40px;
        justify-content: center;

        li {
            margin: 20px 0;
            font-size: 18px;
            font-family: var(--ff-maison_bold);
            cursor: pointer;

            &:hover {
                text-decoration: line-through;
            }
        }
    }
    
    &.open {
        left: 0; 
    }
}
/*#endregion Nav Menu */

/*#region Home */
.home_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    gap: 40px;
}

#logo_txt {
    text-align: center;
    font-size: 200px;
    font-family: var(--ff-maison_black);
    font-weight: 800;
    letter-spacing: 5px;
    margin: 0;
}

#logo_quote {
    text-align: center;
    font-size: 30px;
    font-family: var(--ff-maison_med);
    font-weight: 700;
    margin: 0;
}
/*#endregion Home */